pkgbase = kuechenstation
	pkgdesc = A leightweight xmms2 console client written in python
	pkgver = 0.4
	pkgrel = 2
	url = http://kuechenstation.sourceforge.net/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = python2
	depends = python2
	depends = figlet
	depends = xmms2>=0.6DrMattDestruction-9
	optdepends = python2-feedparser: podcast support
	source = http://downloads.sourceforge.net/kuechenstation/kuechenstation_0.4.tar.gz
	md5sums = a6e47f4ad2be24faadf416e1efa0b4a4

pkgname = kuechenstation

