*/src
*/pkg
*.gz
*.xz
*.bz2
*.zip
*.part
*.sig
*.log
*.scm
*/canto
*/canto-curses
*/canto-next
*/ccx2
*/eispice
*/gtk-sharp
*/julia
*/kernel
*/linux-git
*/llvmlinux
*/pim
*/resynthesizer
*/smuxi
*/translate
*/xombrero
*/*.pkg
*/*.asc
