pkgbase = gxmms2
	pkgdesc = GTK+2 based XMMS2 client
	pkgver = 0.7.1
	pkgrel = 1
	url = http://wejp.k.vu/projects/xmms2/
	arch = i686
	arch = x86_64
	license = GPL
	depends = xmms2
	depends = gtk2
	conflicts = gxmms2-git
	source = http://wejp.k.vu/files/gxmms2-0.7.1.tar.gz
	source = gxmms2.desktop
	md5sums = 20f1f4b513da4b78e74299ec3c6b5dc7
	md5sums = 2a09ca7203dd26e6ad61b13ea26408e0

pkgname = gxmms2

