pkgbase = sinthgunt
	pkgdesc = Sinthgunt is an easy to use GUI for ffmpeg with more than 100 pre-configured conversion settings.
	pkgver = 2.1.0
	pkgrel = 1
	url = http://code.google.com/p/sinthgunt/
	arch = i686
	arch = x86_64
	license = GPL3
	depends = ffmpeg
	depends = pygtk
	source = https://sinthgunt.googlecode.com/files/sinthgunt-2.1.0.tar.gz
	md5sums = a7f18b5d490dad16d99eb24ee8ba22d7

pkgname = sinthgunt

